*{
    margin:0;
    padding: 0;
}

.navbar__items{
    background-color: #e5a186;
}

@media (min-width: 1000px){
    .navbar__items{
        background-color: #e5a186;
        height: 80px;
        display: flex;
        justify-content: space-between; /*spaces the React icon and things to the side*/
        align-items: center; /*align the items vertically to the center*/
    }/*all the items*/
    
    
    /*left LOGO*/
    .navbar__logo{
        color: #fff;
        justify-self: start;
        margin-left: 20px;
        cursor: pointer;
    }/*only thr logo on top left*/
    
    .fa-react{
        margin-left: 0.5rem;
        font-size: 1.6rem;
    }/*the react logo*/
    
    
    /*right NAVIGATION links*/
    .nav__menu{
        display: flex;
        justify-self: flex-end;
        margin-right: 2rem;
        list-style-type: none; /*removes the dots in the li's*/
    } /*makes the menu to the end of the flex box*/
    
    .nav__links{
        color: white;
        text-decoration: none;
        padding: 0.5rem 1rem;
    } /*styles each of the nav links giving them  and removing text styling*/
    
    .nav__links:hover {
        background-color:rgba(47, 0, 255, 0.1);
        border-radius: 4px;
        transition: all 0.2s ease-out;
    } /*when we hover at over the navigation links these color will appear, giving them a nice effect and background*/
    
    
    /*for MOBILE size*/
    .fa-bars {
        color: #fff;
    } /* 'x' icon*/
    
    .menu__icon{
        display: none;
    }/*here we hid the hamburger icon*/
    /* 'hamburger' icon*/
}


/*when the screen is less than 1000px in width*/
@media (max-width: 1000px){
    
    /*React logo*/
    .navbar__logo{
        color: #fff;
        justify-self: start;
        margin-left: 20px;
        cursor: pointer;
    }

    .nav__menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav__menu__active{
        background: #efd1c6;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;;
        z-index: 1;
        list-style-type: none;
    }
    .nav__links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
        color: white;
        text-decoration: none;
    } 
    .nav__links:hover{
        background-color: rgba(229, 161, 134, 0.5);
        border-radius: 0;
    }

    /*Hamburger icon*/
    .menu__icon{
        display: inline;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;

        margin-left: 20px;
    }
    


}