.table{
    margin-top: 20px; /*to give a margin between the table and this element '<h3>Live Cases by Country</h3>'*/
    overflow:scroll; /*so if it overflows more than the allocated space(height) it gives user the option of scrolling*/
    height: 550px; /*this is the allocated height*/
    color:#6a5d5d; /*provides the color for all content in table, not for backgrd color*/
}/*targets the table class in Table.js */

.table tr {
    display: flex;
    justify-content: space-between; /*this is used to create spaces between the contents*/
}/*this is so when its responsive it will take up the whole row instead of partial of the screen*/

.table td {
    padding: 0.5rem;
    border: none;
}/*this is to ensure all table data element is not stuck to the side and have some spacing*/

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}/*targets every odd number row*/