*{
    margin:0;                       /*Set default margin to 0, so theres no spacing between the webpage*/
}

.un__response{
    display: flex;
}

.un__response p{
    width: 500px;
    margin: 20px;
}

.un__vid{
    margin: 25px;
}

.news__img{
    border-radius: 10px; /*makes the img circlular at the side*/
    width: 200px;
    height: 130px;
}

.news__details{
    margin: 20px;
}

.news__item{
    display: flex; /*here it turn it into a flex box*/ /*to allow for responsiveness*/
    flex-direction: row;
    padding: 20px; /*these gives the item inside of the flex box some spaces against the borders*/  
    margin: 20px;

    border-radius: 25px; /*makes the border at the side curve inwards making the box more appealing*/
    border: 3px solid #000000; /*to specify the parameters of the border such as the tickness, style, color*/
}


/*for the href*/
.news-title-url a:link {
    text-decoration: none;
}
  
.news-title-url a:visited {
    text-decoration: none;
    color:rgba(121, 3, 121, 0.541);
}

.news-title-url a:hover{
    background-color: rgba(2, 94, 97, 0.4);
    text-decoration: underline;
}

.news-title-url a:active {
    text-decoration: underline;
}


  