*{
    margin:0;                       /*Set default margin to 0, so theres no spacing between the webpage*/
    padding: 0;
}

/*UN information*/
.un__response{
    display: flex;
}

.un__response div{
    width: auto;
    margin: 25px;
    flex:1 1;
}

.un__vid{
    margin: 25px;
    flex:1 1;
}

/*WHO information*/
.who__measures{
    display: flex;
    justify-content: flex-end;
    
}

.who__measures div{  /*access the first instance of an div element inside of the class who__measures*/
    width: auto;
    margin: 25px;
    flex:1 1;
}

.who__vid{
    margin: 25px;
    flex:1 1; /*to ensure each flex box takes up a proportionate amount fo space like half half*/
}

/*News section*/
.news__img{
    border-radius: 10px; /*makes the img circlular at the side*/
    width: 400px;
    height: 30%;
    margin: 20px;
}

.news__details{
    margin: 20px;
    width: 400px;
}

.news__item{
    display: flex; /*here it turn it into a flex box*/ /*to allow for responsiveness*/

    padding: 20px; /*these gives the item inside of the flex box some spaces against the borders*/  
    margin: 20px;

    border-radius: 25px; /*makes the border at the side curve inwards making the box more appealing*/
    border: 3px solid #000000; /*to specify the parameters of the border such as the tickness, style, color*/
    
}



/*for the href*/
.news-title-url a:link {
    text-decoration: none;
    color: rgba(1, 7, 100, 0.4);
}
  
.news-title-url a:visited {
    text-decoration: none;
    color: rgba(1, 7, 100, 0.4);
}

.news-title-url a:hover{
    color: lightblue;
    text-decoration: none;
}

.news-title-url a:active {
    text-decoration: none;
}


@media (max-width: 960px){
    
    /*UN AND WHO*/
    .un__response{
        display: flex;
        flex-direction: column;
    }
    .who__measures{
        display: flex;
        flex-direction: column-reverse;
    }

    .un__vid{
        height: auto;
        width: auto;
    }
    .who__vid{
        height: auto;
        width: auto;
    }

    /*Global News*/
    .news__item{
        display: flex;
        flex-direction: column ;
        
    }

    .news__img{
        border-radius: 10px; /*makes the img circlular at the side*/
        width: auto;
        height: auto; /*the auto is so that the img is not fixed and takes up more page space then the page width*/
        margin: 20px;
    }
    
    .news__details{
        width: auto;
        height: auto;
        margin: 20px;
    }
}

  